/* цвет фона в секции героя и футере #2F303A*/
/* цвет фона в хедере #FFFFFF*/
/* цвет фона на странице #E5E5E5*/
/* цвет  вторичного фона #F5F4FA*/
/* цвет шрифта в секции героя #FFFFFF*/
/* цвет шрифта в заголовках секций и кнопках #212121; */
/* цвет акцента #2196F3; */
/* цвета в логотипе #2196F3 и #000000 */
/* цвет номера телефона в хедере и основного текста #757575 */
/* цвет почты и номера телефона в футере rgba(255, 255, 255, 0.6); */



/* Header */
.logo-part {
    color: #2196F3;
}
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

/* Hero */
.hero {

}

/* Section */
.section-title {
color: #212121;
}