/* цвет фона в секции героя и футере #2F303A var(--footer-hero-background) */
/* цвет фона в хедере #FFFFFF*/
/* цвет фона на странице #E5E5E5 var(--main-background) */
/* цвет  вторичного фона и неактивных кнопок #F5F4FA var(--second-background) */
/* цвет шрифта в секции героя #FFFFFF*/
/* цвет шрифта в заголовках секций и кнопках #212121 var(--title-text-color) */
/* цвет акцента #2196F3 var(--accent-color) */
/* цвета в логотипе #2196F3 и #000000 */
/* цвет номера телефона в хедере и основного текста #757575 var(--main-text-color) */
/* цвет почты и номера телефона в футере rgba(255, 255, 255, 0.6) var(--contact-text-color) */

:root {
    --main-background: #E5E5E5;
    --second-background: #F5F4FA;
    --footer-hero-background: #2F303A;
    --accent-color: #2196F3;
    --title-text-color: #212121;
    --main-text-color: #757575;
    --contact-text-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--main-background);
    color: var(--main-text-color);
}
/* Header */
.logo {
    color: #000000;
}
.logo .logo-part {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.header .contact {
    color: var(--main-text-color);
    
}

.header .contact:hover,
.header .contact:focus {
    color: var(--accent-color);
}

/* Hero */
.hero {
    background-color: var(--footer-hero-background);
    color: #FFFFFF;
}

/* Buttons */
.button {
background-color: var(--second-background);
color: var(--title-text-color);
}

.button.primary {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
/* Section */
.section-title {
    color: var(--title-text-color);   
}

/* Features */
.feature-list .title {
    color: var(--title-text-color); 
}

/* Team */
.team-list .title {
    color: var(--title-text-color);
}


/* Footer */
.footer {
    background-color: var(--footer-hero-background);
    color: #FFFFFF;
}

.footer .logo {
    color: #FFFFFF;
}
.footer .contact {
    color: var(--contact-text-color);
}
.footer .contact:hover,
.footer .contact:focus {
    color: var(--accent-color);
}